@import "../../../themes.scss";

.side {
  display: flex;
  flex-direction: column;
  :last-child {
    margin-top: auto;
  }
}
.menu-item {
  transition: 0.5s;
}
.selected-menu-item {
  // :before {
  //   content: "";
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   width: 5px;
  //   height: 100%;
  //   border-radius: 1px;
  //   background-color: blue;
  // }
  background-color: rgba(0, 0, 0, 0.05) !important;
}

@media (prefers-color-scheme: dark) {
  .icon {
    color: rgb(239, 239, 239) !important;
  }
  .icon.active {
    color: $c500 !important;
  }
  /* .selected-menu-item {
    background-color: rgba(0, 0, 0, 0.05) !important;
  } */
}

@media (prefers-color-scheme: light) {
  .icon {
    color: black !important;
  }
  .icon.active {
    color: $c200 !important;
  }
}
