<section class="setting">
  <h1>Settings</h1>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon fontSet="material-icons-outlined">palette</mat-icon>
        Select app theme
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-radio-group
      aria-label="Select an option"
      onchange="change_theme($event)"
    >
      <mat-radio-button value="Light">Light</mat-radio-button>
      <mat-radio-button value="Dark">Dark</mat-radio-button>
      <mat-radio-button value="System_theme">System theme</mat-radio-button>
    </mat-radio-group>
  </mat-expansion-panel>
</section>
