section {
  padding: 1rem 3rem;
  height: -webkit-fill-available;
  background-color: #97fffc;
  // display: flex;
  // flex-direction: column;
  // justify-content: start;
  // align-items: center;
}

h1 {
  font-size: 2.4em;
}

.container {
  width: -webkit-fill-available;
  height: 95%;

  mat-form-field {
    width: -webkit-fill-available;
    height: 98%;

    #textarea {
      height: 36rem;
    }
  }
}
