<section class="announce">
  <h1>Announcements</h1>
  <div class="container">
    <mat-form-field appearance="fill">
      <textarea
        name=""
        #text
        [(ngModel)]="textarea"
        cols="30"
        rows="28"
        matInput
        (keyup)="update(text.value)"
      ></textarea>
    </mat-form-field>
    <div class="button">
      <button mat-fab color="accent" [disabled]="!textarea" matTooltip="Play">
        <mat-icon>play_arrow</mat-icon>
      </button>
      <button mat-fab color="accent" matTooltip="Filter">
        <mat-icon>tune</mat-icon>
      </button>
    </div>
  </div>
</section>
