<p>announcement works!</p>
<div class="" style="display: grid; place-items: center; border: solid">
  <h2 mat-dialog-title>Add bell</h2>
  <form action="">
    <mat-dialog-content>
      <div class="time">
        <div class="arrow_up"></div>
        <div class="buttons">
          <div class="number">
            <button
              type="button"
              #hour_btn
              mat-raised-button
              [matMenuTriggerFor]="hr_menu"
              (wheel)="on_hr_scroll($event, hour_btn)"
            >
              {{ hr_btn_text }}
            </button>
            <h1>:</h1>
            <button
              type="button"
              mat-raised-button
              #min_btn
              [matMenuTriggerFor]="min_menu"
              (wheel)="on_min_scroll($event, min_btn)"
            >
              {{ min_btn_text }}
            </button>

            <mat-menu #hr_menu>
              @for (item of [1,2,3,4,5,6,7,8,9,10,11,12]; track $index) {
              <button mat-menu-item (click)="menu_hr_click(item)">
                {{ item }}
              </button>
              }
            </mat-menu>
            <mat-menu #min_menu>
              @for (item of [5,10,15,20,25,30,35,40,45,50,55,60]; track $index)
              {
              <button mat-menu-item (click)="menu_min_click(item)">
                {{ item }}
              </button>
              }
            </mat-menu>
          </div>
          <div class="ampm">
            @for (item of ["am","pm"]; track $index) {
            <button
              #vari
              type="button"
              mat-raised-button
              [ngClass]="{ active: item === active_am_or_pm }"
              (click)="set_ampm_active(item)"
            >
              {{ item }}
            </button>
            }
          </div>
        </div>
        <div class="arrow_down"></div>
      </div>

      <mat-form-field role="label" appearance="fill">
        <mat-icon matPrefix fontSet="material-icons-outlined">label </mat-icon>
        <input matInput type="text" />
      </mat-form-field>

      <div class="days">
        <mat-chip-listbox>
          @for (item of chips; track $index) {
          <mat-chip
            (click)="toogle(item)"
            [ngClass]="{ active: item.active === true }"
            >{{ item.day }}
          </mat-chip>
          }
        </mat-chip-listbox>
      </div>

      <mat-form-field role="label" appearance="fill">
        <mat-icon matPrefix fontSet="material-icons-outlined">
          music_note
        </mat-icon>
        <input matInput type="text" />
        <button
          type="button"
          matSuffix
          mat-icon-button
          [matMenuTriggerFor]="music_menu"
        >
          <mat-icon fontSet="material-icons-outlined">expand_more </mat-icon>
        </button>
        <mat-menu #music_menu>
          <button mat-menu-item></button>
        </mat-menu>
      </mat-form-field>
      <!-- <mat-icon matPrefix fontSet="material-icons-outlined">music </mat-icon> -->
      <input type="file" />
    </mat-dialog-content>
    <mat-dialog-actions align="center">
      <button mat-raised-button mat-dialog-close color="warn">
        <mat-icon fontSet="material-icons-outlined">close</mat-icon>
        <span>close</span>
      </button>
      <button mat-raised-button mat-dialog-close color="accent">
        <mat-icon fontSet="material-icons-outlined">save</mat-icon>
        <span>save</span>
      </button>
    </mat-dialog-actions>
  </form>
</div>
