.setting {
  padding: 1rem 3rem;
  height: -webkit-fill-available;
  // display: flex;
  // flex-direction: column;
  // justify-content: start;
  // align-items: center;
}
h1 {
  font-size: 2.4em;
}
mat-expansion-panel {
  max-width: 40rem;

  mat-icon {
    margin-right: 2rem;
  }
  mat-radio-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}

@media (prefers-color-scheme: dark) {
  .setting {
    background-color: #202020;
  }
  .icon {
    color: rgb(239, 239, 239) !important;
  }
}

@media (prefers-color-scheme: light) {
  .icon {
    color: black !important;
  }
}
