@use "@angular/material" as mat;
@include mat.core();

$c50: #e0f7fa;
$c100: #b2ebf2;
$c200: #80deea;
$c300: #4dd0e1;
$c400: #26c6da;
$c500: #00bcd4;
$c600: #00acc1;
$c700: #0097a7;
$c800: #00838f;
$c900: #006064;
$cA100: #84ffff;
$cA200: #18ffff;
$cA400: #00e5ff;
$cA700: #00b8d4;

$custom-dark-palette: (
  50: $c50,
  100: $c100,
  200: $c200,
  300: $c300,
  400: $c400,
  500: $c500,
  600: $c600,
  700: $c700,
  800: $c800,
  900: $c900,
  A100: $cA100,
  A200: $cA200,
  A400: $cA400,
  A700: $cA700,
  contrast: (
    50: white,
    100: white,
    200: white,
    300: black,
    400: black,
    500: black,
    600: black,
    700: black,
    800: black,
    900: black,
  ),
);

$light_primary: mat.define-palette(mat.$indigo-palette, 500);
$light_accent: mat.define-palette(mat.$indigo-palette, A200, A100, A400);

// $dark_primary: mat.define-palette(mat.$amber-palette, 500);
// $dark_accent: mat.define-palette(mat.$amber-palette, A200, A100, A400);

$dark_primary: mat.define-palette(mat.$blue-gray-palette, 500);
$dark_accent: mat.define-palette(mat.$blue-gray-palette, A200, A100, A400);

$my-warn: mat.define-palette(mat.$red-palette, A200);
