form {
  display: flex;
  flex-direction: column;
  width: 24rem;

  mat-dialog-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 0;

    .time {
      width: 100%;
      padding: 0.5rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-bottom: 1rem;
      // background-color: whitesmoke;
      background-color: aliceblue;

      .buttons {
        display: flex;
        justify-content: space-evenly;

        .number {
          display: flex;
          justify-content: center;
          align-items: center;

          button {
            height: 4.5rem;
            width: 4.5rem;
            font-size: x-large;
          }
          h1 {
            display: grid;
            place-items: center;
            height: 4.5rem;
            font-weight: bold;
            margin-inline: 5px;
            margin-block: 0;
          }
          mat-menu {
            max-width: 2rem;
          }
        }

        .ampm {
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
          button {
            font-size: large;
            height: 2rem;
          }
          button.active {
            background-color: lightblue;
          }
        }
      }
    }
    mat-form-field {
      // padding: 1rem;
      width: 100%;
    }
    .days {
      margin-bottom: 1.5rem;
      mat-chip-listbox {
        .mdc-evolution-chip-set__chips {
          margin-right: 0;
        }
        mat-chip {
          display: grid;
          width: 2.5rem;
          height: 2.5rem;
          border-radius: 5rem;
          place-content: center;
          .chipText {
            font-size: 1rem;
          }
        }
        mat-chip.active {
          background-color: lightblue;
        }
      }
    }
  }
  mat-dialog-actions {
    display: flex;
    justify-content: space-evenly;
  }
}
